* {
  font-family: Verdana,Arial;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

.footer {
  font-family: sans-serif;
  line-height: 1.7em;
  color: #7f8c8d;
  font-size: 16px;
  box-sizing: border-box;
  padding: 1em;
  text-align: center;
  background: #111;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.grid-system {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35vh 50vh;
  font-size: large;
  place-items: center;
}

.create-url {
  text-align: center;
}

.usage-promo {
  font-size: 3.5rem;
  max-width: 100vh;
  font-family: Architects Daughter, Verdana;
  color: #555;
  text-align: center;
}

.create-url input[type="text"] {
  font-size: 3rem;
  max-width: 50vh;
  color: #555;
  border: 1px solid #dfe1e5;
  padding: 20px;
  border-radius: .5em;
}
.create-url input[type="text"]::placeholder {
  text-align: center;
}

.create-url button {
  font-size: 3rem;
  color: #999;
  border-radius: .5em;
  padding: .2em;
  margin-top: 1em;
}

.error-message {
  font-size: 1rem;
  color: #d44646;
  text-align: center;
  padding-top: 30px;
}

.shortened-url, .shortened-url > a {
  font-size: 2rem;
}
button.clip-btn {
  display: none;
  font-size: 1rem;
}

a {
  -webkit-font-smoothing: antialiased;
  line-height: 1.625;
  font-size: 1.125rem ;
  color: rgba(66,153,225);
  text-decoration: none;
  word-break: break-all;

}