<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Zero Hassle URL Shortener.">
    <title>Short-url.run - Zero Hassle URL Shortener</title>
    <link href="public/css/normalize.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="public/css/main.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="//fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script src="public/js/main.js"></script>
</head>
<body>
<div class="grid-system">
    <div class="usage-promo">Zero Hassle URL Shortener</div>    
    <div class="create-url">
        <div class="url-entry" id="url-entry">
            <input onkeyup="maybeShortenURL()" autocomplete="off" type="text" id="url" name="url" placeholder="url here" value="{{ originalURL }}">
            <div>
                <button onclick="shortenURL()">Go!</button>
            </div>
        </div>
        <div class="error-message" id="errorMessage">{{ errorMessage }}</div>
        <div class="shortened-url" id="shortenedUrl">{{ shortenedURL }}</div>
        <button class="clip-btn" id="clip-btn" data-clipboard-action="copy" data-clipboard-target="#urlOnly">
                <span alt="Copy to clipboard">Copy to Clipboard 📋</span>
        </button>
        <a id="anotherOne" style="display:none" href="/">Create another one</a>
    </div>
</div>

<div class="footer">
    With 🌈 and 🦄 by <a href="https://github.com/AvnerCohen">@avnerner</a>
</div>

</div>
<script async src="//www.googletagmanager.com/gtag/js?id=UA-35805093-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-35805093-3');
</script>

</body>
</html>
